body {
    font-family: "Poppins", sans-serif;
}
.student-table {
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    
    border-collapse: collapse;
}

.table-header {
    border-bottom: 1px solid #ccc;
    height: 20px;
}
table td {
    padding: 14px;
}

.active-checkbox {
    border-left: 3px solid #4e44b5;
}

.action-content {
    text-align: right;
    width: 25px;
    cursor: pointer;
}

.column-name {
    display: flex;
    gap: 14px;
    align-items: center;
}

.column-name .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c1bbeb;
}

.column-id {
    color: #4e44b5;
    font-weight: bold;
}

.column-date {
    color: #aca5b9;
}

.column-parent-name {
    color: #3e457b;
}

.column-city {
    color: #303972;
}

.column-contact {
    display: flex;
    padding: 0;
    gap: 8px;
    align-items: center;
    color: #4e44b5;
}

.column-contact .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #edecf8;
    cursor: pointer;
}

.grade-a {
    background: #fb7d5b;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.grade-b {
    background: #fcc43e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.grade-c {
    background: #4e44b5;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.checkbox-item {
    cursor: pointer;
}
.content-wrapper {

}

input[type="search"] {
    padding: 15px;
    font-size: 16px;
    width: 300px; 
    border: 1px solid #ccc; 
    border-radius: 50px; 
    outline: none; 
    transition: all 0.3s ease; 
}

input[type="search"]:focus {
    border-color: #4CAF50; 
}
.studentMenu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.studentMenu .optionMenu button {
    cursor: pointer;
    padding: 15px 30px;
    border: 2px solid #4D44B5;
    border-radius: 40px  ;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #4D44B5;
    background-color: #f3f4ff;
    gap: 10px;
}
.studentMenu .optionMenu .addSt {
    background-color: #4D44B5;
    color: white;
}
.studentList {
    width: 90%;
    height: 100%;
}