body {
    font-family: "Poppins", sans-serif;
    position: relative;
    height: calc(100vh - 80px);
}
.student-table {
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    
    border-collapse: collapse;
}

.table-header {
    border-bottom: 1px solid #ccc;
    height: 20px;
}
table td {
    padding: 14px;
}

.active-checkbox {
    border-left: 3px solid #4e44b5;
}

.action-content {
    text-align: right;
    width: 25px;
    cursor: pointer;
}

.column-name {
    display: flex;
    gap: 14px;
    align-items: center;
}

.column-name .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c1bbeb;
}

.column-id {
    color: #4e44b5;
    font-weight: bold;
}

.column-date {
    color: #aca5b9;
}

.column-parent-name {
    color: #3e457b;
}

.column-city {
    color: #303972;
}

.column-contact {
    display: flex;
    padding: 0;
    gap: 8px;
    align-items: center;
    color: #4e44b5;
}

.column-contact .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #edecf8;
    cursor: pointer;
}

.grade-a {
    background: #fb7d5b;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.grade-b {
    background: #fcc43e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.grade-c {
    background: #4e44b5;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

.checkbox-item {
    cursor: pointer;
}

input:not([type="button"]) {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 50px; 
    outline: none; 
    transition: all 0.3s ease; 
    text-indent: 20px;
}
select {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 50px; 
    outline: none; 
    transition: all 0.3s ease; 
}

input:not([type="button"]):focus {
    border-color: #4CAF50; 
}
.studentMenu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 10px;
}
.optionMenu {
    display: flex;
    gap: 8px;
}
.studentMenu .optionMenu button {
    cursor: pointer;
    padding: 9px 30px;
    border: 2px solid #4D44B5;
    border-radius: 40px  ;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #4D44B5;
    background-color: #f3f4ff;
    gap: 10px;
}
.studentMenu .optionMenu .addSt {
    background-color: #4D44B5;
    color: white;
}
.studentList {
    width: 90%;
    height: 100%;
}

.tag-link {
    color: #4e44b5;
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
    padding-top: 60px;
}

.modal-content {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px;
    width: 80%;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-student-header {
    font-size: 24px;
    font-weight: bold;
    color: #4D44B5;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

button {
    cursor: pointer;
    padding: 20px;
    border: 2px solid #4D44B5;
    border-radius: 40px  ;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #4D44B5;
    background-color: #f3f4ff;
    min-width: fit-content;
    width: 200px;
    height: 60px;
}

.actions {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px 0;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: #4D44B5;
    font-weight: bold;
}

.my-input {
    min-width: 100px !important;
    text-indent: 0px !important;
}

.date-place {
    display: flex;
    gap: 15px
}